<div class='chat-box-log col-10 offset-1'>
  <%= @chat.chat_log %>
</div>
<div class='chat-box-input col-10 offset-1'>
  <br />
  <%= simple_form_for @chat do |f| %>
    <%= f.input :chat_log, label: false, wrapper_html: { class: 'form-inline' } do %>
      <%= f.input_field :chat_log, label: false, class: 'input-box mr-auto' %>
      <%= f.submit 'Send', class: 'btn btn-default' %>
    <% end %>
  <% end %>
</div>